@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 85%;
  margin: 0 auto;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=================================
  main styling starts here
=================================*/
.wrapper {
  width: 90%;
  margin: auto;
  gap: 43px;
}

.weather h1 {
  color: #f0f8ff;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

.search-area {
  position: relative;
  z-index: 3;
  background-color: #0a1f43;
}

.search {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.serach-city {
  width: 25%;
  padding-left: 5px;
  border: none;
  border-bottom: 2px solid #f0f8ff;
  background-color: transparent;
  color: #f0f8ff;
  font-size: 47px;
  caret-color: #f0f8ff;
  outline: none;
}

input::placeholder {
  color: #f0f8ff;
  font-weight: 500;
}

.search-button {
  padding: 20px 15px;
  border: none;
  border-radius: 8px;
  background-color: #ff1f41;
  color: #f0f8ff;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.search-area .wrapper {
  width: 100%;
  padding: 90px 0px;
  display: flex;
  flex-direction: column;
}

/* ******************** card****************** */

.card-area {
  padding: 23px 0px 110px;
  background-color: #0a1f43;
  transform: translateY(-1000px);
  transition: transform 2s;
}

.card-area-onclick {
  transform: translateY(0px);
  transition: transform 2s;
}

.temp-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: translateX(-2000px);
  transition: transform 2s;
}

.temp-list-onclick {
  transform: translateX(0px);
  transition: transform 2s;
}

.temp-list li {
  width: 18.5%;
  padding: 40px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff;
  box-shadow: 10px 11px #f0f8ff8a;
}

.city-name {
  color: #0a1f43d3;
  font-size: 35px;
  font-weight: 500;
}

.temprature-span {
  color: #081833;
  font-size: 100px;
  font-weight: 800;
}

.icon {
  display: flex;
  font-size: 120px;
  text-indent: -9999px;
}

.discription {
  color: #0a1f43a8;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.icon::before {
  content: "\f186";
  margin-bottom: 15px;
  display: flex;
  font-family: "FontAwesome";
  font-size: 135px;
  font-weight: 100;
  text-indent: 0px;
}

.inside-temprature {
  padding-bottom: 30px;
  color: #081833;
  font-size: 50px;
  font-weight: 800;
}

.temprature {
  margin: 12px 0px;
  display: flex;
  align-items: center;
}
/*=================================
  main styling ends here
=================================*/
